<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Pizza Italia</title>
  </head>
  <nav class="navbar navbar-expand-center navbar-light text-light  bg-warning">
      <span class="navbar-brand" mb-0 h1>Welcome to Pizza Italia</span>
  </nav>
<h3>Your Order Completed!</h3>
<form action ="{%url 'remove' %}">
       <input type="hidden" name="hidden_input_order_id" value="{{id}}"/>
       <input type="submit" value = "Remove" >
</form>
</body>
</html>